<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="background-color: #ed8bb1 ; padding: 20px 0 20px 0; margin:0" >
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div>
            <img style = "margin-left: auto ; margin-right: auto; width: 55%;" src="../../assets/img/website.png" class="d-block" alt="...">
        </div>
        <div style = "color: black;" class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img style = "margin-left: auto ; margin-right: auto; width: 55%;" src="../../assets/img/blog.png" class="d-block" alt="...">
        <div style = "color: black;" class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img style = "margin-left: auto ; margin-right: auto; width: 55%" src="../../assets/img/multimedia.jpg" class="d-block" alt="...">
        <div style = "color: black;" class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
  </div>