<section class="login">
    <form>
        <div>
            <label>User:</label>
            <input class="form-control" type="text" placeholder="User"> <br>
            <label>Password:</label>
            <input class="form-control" type="password" placeholder="Password"><br>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-primary" style="width: 25%;" routerLink="panel" routerLinkActive="router-link-active" >Login</button>
        </div>
    </form>
</section>